.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    /* background-color: #d3d3d0; */
}

.Banner {
    background-color: #37003c;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;   
}

@media only screen and (min-width: 700px) {
    .Banner {
        height: 10rem;
    }
}

.Logo {
    width: 14rem;
}

@media only screen and (min-width: 700px) {
    .Logo {
        width: 22rem;
    }
}

.Logo img {
    width: 100%;
}