* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #ebebe6;
}

h1 {
  color: #1d1d1d;
  font-size: 3rem;
  border-bottom: 3px solid #1d1d1d;
  margin: 0 auto 2rem;
  max-width: 80rem;
}

h2 {
  font-size: 4.5rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  padding: 2rem 0 1rem;
}


/* Utiliy Classes */

.Hide {
  display: none;
}